MD-4-TEST-flow.txt
[{"id":"dcb4a6df.bea748","type":"mqtt out","z":"287f1dfd.c84eea","name":"","topic":"/MD-4-TEST-IN","qos":"","retain":"","broker":"f6315289.468b58","x":525,"y":305.9999694824219,"wires":[]},{"id":"93192a93.b36da","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"OnboardLed0","payloadType":"str","repeat":"","crontab":"","once":false,"x":231.5,"y":93.5,"wires":[["dcb4a6df.bea748"]]},{"id":"69ffa9e1.854628","type":"mqtt in","z":"287f1dfd.c84eea","name":"","topic":"/MD-4-TEST-OUT","qos":"2","broker":"f6315289.468b58","x":708.5,"y":304.4999694824219,"wires":[["aae7422e.4023f8"]]},{"id":"aae7422e.4023f8","type":"debug","z":"287f1dfd.c84eea","name":"payload","active":true,"console":"false","complete":"payload","x":893.75,"y":304.4999694824219,"wires":[]},{"id":"1534abc2.2e144c","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"OnboardLed1","payloadType":"str","repeat":"","crontab":"","once":false,"x":231.25,"y":135,"wires":[["dcb4a6df.bea748"]]},{"id":"5f0baa37.fd0104","type":"comment","z":"287f1dfd.c84eea","name":"LED","info":"","x":72.5,"y":112.5,"wires":[]},{"id":"a9a29db6.91d8a","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"DigOut0","payloadType":"str","repeat":"","crontab":"","once":false,"x":221.5,"y":207.5,"wires":[["dcb4a6df.bea748"]]},{"id":"62f8e1b3.4dd248","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"DigOut1","payloadType":"str","repeat":"","crontab":"","once":false,"x":221.25,"y":249,"wires":[["dcb4a6df.bea748"]]},{"id":"633683c4.3d892c","type":"comment","z":"287f1dfd.c84eea","name":"D0","info":"","x":72.5,"y":226.5,"wires":[]},{"id":"a7a56fd4.7738d","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"DigIn","payloadType":"str","repeat":"","crontab":"","once":false,"x":206.5,"y":316.25,"wires":[["dcb4a6df.bea748"]]},{"id":"a21026f3.5be438","type":"comment","z":"287f1dfd.c84eea","name":"DI","info":"","x":68.75,"y":312.75,"wires":[]},{"id":"62a7e428.98d3cc","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"AnIn","payloadType":"str","repeat":"","crontab":"","once":false,"x":205,"y":381.25,"wires":[["dcb4a6df.bea748"]]},{"id":"365fe2da.578f36","type":"comment","z":"287f1dfd.c84eea","name":"AI","info":"","x":67.25,"y":377.75,"wires":[]},{"id":"bdbf345b.af81d","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"ReadDHT","payloadType":"str","repeat":"","crontab":"","once":false,"x":212.75,"y":445,"wires":[["dcb4a6df.bea748"]]},{"id":"1c572582.c44952","type":"comment","z":"287f1dfd.c84eea","name":"DHT","info":"","x":65,"y":441.5,"wires":[]},{"id":"fa58edfc.79dc9","type":"inject","z":"287f1dfd.c84eea","name":"","topic":"","payload":"I2CtestMD","payloadType":"str","repeat":"","crontab":"","once":false,"x":210.25,"y":511.25,"wires":[["dcb4a6df.bea748"]]},{"id":"1b17d468.c976b4","type":"comment","z":"287f1dfd.c84eea","name":"I2C","info":"","x":62.5,"y":507.75,"wires":[]},{"id":"f6315289.468b58","type":"mqtt-broker","z":"287f1dfd.c84eea","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]